body { }



hr, .alert-info hr {
  border-top: 1px solid #B0B0B0;
}

footer {
  position: absolute;
  padding-top: 3%;
  bottom: 0px;
  height: 260px;
  width: 100%;
  color: #EFEFEF;
  background-color: #222;
  border-color: #080808;
}

table {
  width: 50%;
  margin: 0px auto;
}

/* alert class used as footer */
.alert {
  margin-top: 4%;
  margin-bottom: 0%;
  padding-top: 3%;
  height:290px;
  color: #EFEFEF;
  background-color: #222;
  border-color: #080808;
}

.container-nav {
  padding: 0;
  margin-bottom: 0;
}

.container-wide {
  width: 96%;
  margin: 0 auto;
}

.jumbotron {
  margin-top: 0px;
}

.text-white {
  color: #DDDDDD;
}

 a.text-white:hover {
  color: #B0B0B0;
}

.bottom-icon {
  height: 64px;
  width: 64px;
}

.top-icon {
  height: 22px;
  width: 22px;
}

.results-row { }

.bottom-filler { }

.poweredby {
  height: 60px;
  width: 260px;
}

#map {
 height: 400px;
 width: 100%;
}

#myChart {
  height: 400px;
  width: 100%;
}
